html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
li {
  display: inline-block;
}
li a {
  display: block;
  padding: 0.5em 1em;
  color: #000;
  text-decoration: none;
}
li a.active {
  text-decoration: underline;
}
.line {
  fill: none;
  stroke: #000;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
}
.brush {
  fill-opacity: 0.2;
}
.pane {
  cursor: move;
  fill: none;
  pointer-events: all;
}
.chart-group {
  display: inline-block;
}


.brush-handle {
  fill: #eee;
  stroke: #666;
}

.selection {
  fill: #B42436;
  /* stroke: #B42436; */
}